body.body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background: #fafcfd;
}

.flightForm {
  margin-bottom: 28px;
}

.login {
    input.form-control {
      width: 238px;
      float: left;
      height: 25px;
    }
}

.user-tile {
  padding: 14px;
  margin-bottom: 28px;
}

h2.loggedOut {
  text-align: center;
}


.logo {
  height: 68px;
  width: 87px;
}

.navbar-brand>img {
  height: 80px;
  width: 100px
}

nav.navbar.navbar-default{
  background-color: #fafcfd;
  border: none;
  font-family: 'Quicksand', sans-serif;
  height: 64px;
}

nav.navbar.navbar-default .navbar-brand {
  color: #90a8b3;
  font-family: 'Quicksand', sans-serif;
}

nav.navbar.navbar-default .navbar-brand:hover {
  background-color: #90a8b3;
  color: #fafcfd;
}

nav.navbar.navbar-default .navbar-nav>li>a {
  color: #90a8b3;
  font-family: 'Quicksand', sans-serif;
  margin-left: 30px;
  line-height: 50px;
}

nav.navbar.navbar-default .navbar-nav>li>a:hover {
  background-color: #90a8b3;
  color: #fafcfd;
}

ul.dropdown-menu.scrollable-menu {
  background-color: #fafcfd;
  overflow-y: scroll;
  max-height: 171px;
  color: #90a8b3;
  font-family: 'Quicksand', sans-serif;
}

ul.dropdown-menu>li>a {
  background-color: #fafcfd;
  color: #90a8b3;
  font-family: 'Quicksand', sans-serif;
}

ul.dropdown-menu>li>a:hover {
  color: #fafcfd;
  background-color: #90a8b3;
}
nav.navbar.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background: #C1CFD6;
  color: #fafcfd;
}


input.btn.btn-primary.login, button.btn.btn-primary.register, button.btn.btn-default.close-register, button#close.btn.btn-default, button#search.btn.btn-primary, button.btn.btn-default, button#forecast.btn.btn-primary {
  margin-left: 2px;
  margin-top: -5px;
  background: none;
  color: black;
  padding: -79px;
  border: none;
}

.modal-header {
  background: #f8f8f8;
}

label {
  padding: 3px;
}

nav.navbar.navbar-default {
  margin: 0;
  padding: 0;
}

.jumbotron {
  background-image: url('../images/ski-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 580px;
}


#map-canvas {
  width: 100%;
  height: 90vh;
  margin: 0 auto;
  padding: 0;
}

div .flightForm {
  width: 100%;
}

div.form-group.flightForm {
  display: inline;
  float: left;
}

button#close.btn.btn-default.flightForm, button#search.btn.btn-primary.flightForm, input#flight_date.form-control, input#flight_destination.form-control, input#flight_origin.form-control, input#flight_passengers.form-control {
    width: 180px;
    height: 28px;
}

button#close.btn.btn-default.flightForm {
  width: 60px;
  height: 28px;
}
button#search.btn.btn-primary {
  width: 69px;
  height: 28px;
  background: #90a8b3;
  text-align: center;
}

.modal-header {
  text-align: center;
}

div.modal-content {
  width: 615px;
}


h3 {
  text-align: center;
}
img {
  height: 103px;
  width: 124px;
  margin-top: -15px;
}
h5 {
  font-size: 24px;
}

.weather-infoWindow {
  text-align: center;
  height: 375px;
}

.temp-icon {
  border: 1px solid #000;
  width: 80px;
  text-align: center;
  border-radius: 10px;

  p {
    font-weight: bold;
    font-size: 20px;
  }
}

div.weather-tomorrow, div.weather-container {
  // border: 1px solid #000;
  overflow: hidden;
  height: 236px;
  margin: 18px;
  padding: 146p;
  width: 156px;
  border-radius: 10px;
}


h6 {
  font-size: 20px;
  display: inline;
  font-size: 14px;
  font-weight: 700;
}

p {
  display: inline;
  font-weight: 700;
  font-size: 12px;
}


.weather-description p {
  clear: both;
  display: inline;
  font-size: 20px;

}

input#forecast {
  clear: both;
}

a#forecast {
  font-size: 15px;
}

.col-1 {
  overflow: hidden;
  width: 193px;
  display: inline;
  float: left;

  h4 {
    text-align: center;
  }
}

.col-2 {
  overflow: hidden;
  width: 193px;
  display: inline;
  float: left;

  h4 {
    text-align: center;
  }
}

.col-3 {
  overflow: hidden;
  width: 193px;
  display: inline;
  float: left;

  h4 {
    text-align: center;
  }
}

div.forecast-weather, div.current-weather {
  width: 151px;
  height: 176px;
  margin: 14px auto;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid black;
  text-align: center;

  h6 {
    font-size: 17px;
  }

  p {
    font-weight: bold;
    font-size: 20px;
  }
}

div.forecast-minmax, div.minmax-temp {
  border: 1px solid black;
  width: 151px;
  height: 46px;
  margin: 10px auto;
  margin-top: -15px;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  // border-radius: 10px;

  h6 {
    display: inline;
    padding: 8px;
    font-weight: bold;
    font-size: 10px;
  }

  p {
    display: inline;
    font-weight: 700;
    padding: 11px;
  }
}

div.modal-body {
  .trip {
    border: 1px solid black;
  }
  div.journey {
    border-bottom: 1px solid black;

    h5 {
      font-size: 14px;
      display: inline;
      text-align: center;
      padding: 21px;
      font-weight: bold;
    }

    h6 {
      text-align: center;
      font-size: 14px;
      display: inline;
      padding: 33px;
    }
  }

  div.class {
    border-bottom: 1px solid black;
    padding-left: 10px;
  }

  div.flight-time {
    border-bottom: 1px solid black;
    padding-left: 10px;
  }

  div.sale-total{
    padding-left: 10px;
  }
}

span {
  font-weight: bold;
}

div.modal-body.flight-details {
      height: 214px;
}
